<div class="container padding-10">
  <div class="full-screen-card rounded-element medium-purple-bg d-flex flex-column justify-content-between p-4">
    <h1>Flashcards</h1>

    <div class='flashcard-page'>
      <div id='flashcards-list' data-list-id=<%= @list.id %>>
        <% @flashcards.order(:last_view).each_with_index do |flashcard, index| %>
          <!-- FLASH-CARD -->
          <div class="flashcard-card"
               data-flashcard-id=<%= flashcard.id %>
               data-mastered="<%= flashcard.mastered? %>">
            <!-- RECTO -->
            <div class='fc-recto purple-bg rounded-element' style='display: none;'>
              <div class="flex-fc">
                <p class='fc-word'><%= flashcard.word.translation %></p>
                <input class="fc-input" type="text" name="flashcard[response]" id="flashcard_response_recto" value= '' autocomplete="off">
                <h6 class='fc-submit-btn'>SUBMIT</h6>
              </div>
            </div>
            <!-- VERSO -->
            <div class='fc-verso bg-white rounded-element' style='display: none;'>
              <div class="flex-fc">
                <p class='fc-word purple-text'><%= flashcard.word.translation %></p>
                <input class="fc-input input-verso text-center pl-0" type="text" name="flashcard[response]" value='' id="flashcard_response_verso" autocomplete="off"  disabled>
                <h3 class='fc-translation'><%= flashcard.word.word %></h3>
              </div>

              <%= simple_form_for flashcard, url: flashcard_mastered_update_path(flashcard) do |f| %>
                <%= f.input :mastered, as: :hidden, input_html: { value: "false" } %>
                <div class='mastered-failed-buttons'>
                  <%= button_tag type: 'submit', class: "failed-submit rounded-btn" do %>
                    <i class="fas fa-times" aria-hidden="true"></i>
                  <% end %>
                  <%= button_tag type: 'submit', class: "mastered-submit rounded-btn" do %>
                    <i class="fas fa-check" aria-hidden="true"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <!-- END OF FLASHCARD -->
        <% end %>
        <div id='congrats' style='display: none;'>
          <div class='d-flex flex-column justify-content-center align-items-center h-100'>
            <h3>100%</h3>
            <p>Congratulations !</p>
            <%= link_to list_daily_reports_mark_a_day_as_done_path(@list), method: 'PATCH', data: { turbolinks: false }  do %>
              <div class='finished-btn' id='mark-as-finished'>Terminer</div>
            <% end %>
          </div>
        </div>
      </div>


    </div>

    <div class='d-flex flex-column justify-content-between align-items-center mb-2'>
      <div class='d-flex flex-row justify-content-between align-items-center w-100 mb-1'>
        <p class='m-0'>
          <%= @list.flashcards.where(mastered: false).count %>
          <% if @list.flashcards.where(mastered: false).count > 1 %>
            cartes restantes
          <% else %>
            carte restante
          <% end %>
        </p>
        <p class='m-0'><%= @percentage %>%</p>
      </div>
      <div class="bar" style='background-color: white'>
        <div class="percentage"  style="width: <%= @percentage %>%"></div>
      </div>
    </div>

  </div>

</div>

<%= javascript_pack_tag 'flashcard' %>

