<div class="container padding-10">
  <div class="full-screen-card rounded-element medium-purple-bg p-4">
    <h1>Flashcards</h1>

    <div class='purple-bg rounded-element flashcard-page'>
      <div id='flashcards-list' data-list-id=<%= @list.id %>>
        <% @list.flashcards.shuffle.each_with_index do |flashcard, index| %>
          <!-- FLASH-CARD -->
          <div class="flashcard-card"
               data-flashcard-id=<%= flashcard.id %>
               data-mastered="<%= flashcard.mastered? %>">
            <!-- RECTO -->
            <div class='fc-recto' style='display: none;'>
              <div class="flex-fc">
                <p class='fc-word'><%= flashcard.word.word %></p>
                <input class="" type="text" name="flashcard[response]" id="flashcard_response" value= '' autocomplete="off">
                <h6 class='fc-submit-btn'>SUBMIT</h6>
              </div>
            </div>
            <!-- VERSO -->
            <div class='fc-verso' style='display: none;'>
              <div class="flex-fc">
                <p class='fc-word'><%= flashcard.word.word %></p>
                <input class="" type="text" name="flashcard[response]" value='' id="flashcard_response">
                <h3 class='fc-translation'><%= flashcard.word.translation %></h3>
              </div>

              <%= simple_form_for flashcard, url: flashcard_mastered_update_path(flashcard) do |f| %>
                <%= f.input :mastered, as: :hidden, input_html: { value: "false" } %>
                <div class='mastered-failed-buttons'>
                  <%= button_tag type: 'submit', class: "failed-submit rounded-btn" do %>
                    <i class="fas fa-times" aria-hidden="true"></i>
                  <% end %>
                  <%= button_tag type: 'submit', class: "mastered-submit rounded-btn" do %>
                    <i class="fas fa-check" aria-hidden="true"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <!-- END OF FLASHCARD -->
        <% end %>
        <div id='congrats' class='' style='display: none;'>
          <h3>100%</h3>
          <p>Congratulations !</p>
        </div>
      </div>


    </div>

    <div class='d-flex flex-column justify-content-between align-items-center mb-2'>
      <div class='d-flex flex-row justify-content-between align-items-center w-100 mb-1'>
        <p class='m-0'><%= @list.flashcards.where(mastered: false).count %> cartes restantes</p>
        <p class='m-0'><%= @percentage %>%</p>
      </div>
      <div class="bar" style='background-color: white'>
        <div class="percentage"  style="width: <%= @percentage %>%"></div>
      </div>
    </div>

  </div>

</div>

<%= javascript_pack_tag 'flashcard' %>

