<div class="container article-index-padding">

    <img class="text-center logo-younguage" src="<%= image_url("younguage.png") %>" alt="">
    <br><br>

   <!-- La vidéo youtube -->
   <%= link_to videos_path, class: 'article-link' do %>
      <div class="article-item"  style = "color: #311D3F">
            <h3>How to learn anything fast?</h3>
        <br>
        <div class= "d-flex flex-row justify-content-between align-items-center">
          <div class='d-flex justify-content-start align-items-center'>
              <img class="media-logo-medium" src="https://pi.tedcdn.com/r/www.filepicker.io/api/file/jFAo2LPIQm6E1X6yQaVq?quality=90&w=260" alt="">
            <div class='article-infos ml-3 d-flex flex-column align-items-start'>
              <div class='article-date'>2 décembre 2019</div>
              <div class='article-media'>Josh Kaufman</div>
            </div>
          </div>

          <div class="sticker sciences">sciences</div>
        </div>

      </div>
    <% end %>

  <!-- ARTICLES DISPONIBLES -->
  <% @articles.each do |article| %>

    <%= link_to article_path(article), class: 'article-link' do %>
      <div class="article-item"  style = "color: #311D3F">
        <div class = "">
          <% if article.title.size > 62  %>
            <h3><%= article.title.first(62) %>...</h3>
          <% else %>
            <h3><%= article.title.first(62) %></h3>
          <% end %>

        </div>
        <br>
        <div class= "d-flex flex-row justify-content-between align-items-center">
          <div class='d-flex justify-content-start align-items-center'>
              <img class="media-logo-medium" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Medium_logo_Monogram.svg/1200px-Medium_logo_Monogram.svg.png" alt="">
            <div class='article-infos ml-3 d-flex flex-column align-items-start'>
              <div class='article-date'>5 novembre 2019</div>
              <div class='article-media'><%= article.author %></div>
            </div>
          </div>

          <div class="sticker <%= article.topic.name  %>"><%= article.topic.name %></div>
        </div>

      </div>
    <% end %>
  <% end %>

  <!-- PREMIUM PUB -->

  <div class='premium-articles-pub'>
    <h4>Pour plus d'articles...</h4>
    <h3>Passe <strong>PREMIUM</strong></h3>
    <div class='premium-btn'>Détails de l'offre</div>
  </div>

  <!-- ARTICLES PREMIUM -->
  <% @premium_articles.each do |article| %>

      <div class="article-item"  style = "color: #311D3F">
        <div class='premium-filter'></div>
        <div class = "">
          <% if article.title.size > 62  %>
            <h3><%= article.title.first(62) %>...</h3>
          <% else %>
            <h3><%= article.title.first(62) %></h3>
          <% end %>

        </div>
        <br>
        <div class= "d-flex flex-row justify-content-between align-items-center">
          <div class='d-flex justify-content-start align-items-center'>
              <img class="media-logo-medium" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Medium_logo_Monogram.svg/1200px-Medium_logo_Monogram.svg.png" alt="">
            <div class='article-infos ml-3 d-flex flex-column align-items-start'>
              <div class='article-date'>5 novembre 2019</div>
              <div class='article-media'><%= article.author %></div>
            </div>
          </div>

          <div class="sticker <%= article.topic.name  %>"><%= article.topic.name %></div>
        </div>
      </div>
  <% end %>


</div>
