<div id = "myBtn" class= 'head-banner-article'>
  <div class="d-flex" style = "color: #888888">
    <%= link_to articles_path, class: 'btn mt-2', style: 'color: #888888'  do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <div class= "d-flex mt-3">
      <p><%= @article.title.first(35) %></p>
       
      <p> ...</p>
    </div>
  </div>
</div>
<div class="banner-article banner-container" style="background-image: linear-gradient(rgba(49, 29, 63, 0.6),rgba(49, 29, 63, 0.6)), url(https://source.unsplash.com/375x262/?<%= @article.topic.name %>););">
  <div class='h-100 d-flex align-items-center'>
    <h1><%= @article.title %></h1>
  </div>
  <div class='d-flex'>
    <div class="sticker <%= @article.topic.name %> mb-3"><%= @article.topic.name %></div>
  </div>
  <div class='media-logo'></div>
</div>
<div class="container padding-20">
  <div id="content">
    <%= sanitize @article.content %>
  </div>
  <!-- TRADUCTION D'UN MOT -->
  <%= render 'shared/translations' %>
</div>
<%= javascript_pack_tag 'translateWords' %>
<%= javascript_pack_tag 'banner' %>
