<div id="topics-page">
<h1>Younguage</h1>
<span>Sélectionne tes centres d'intérêtes</span>
<div class="topics-div">
  <div class="topics-list">
    <% Topic::NAMES.each do |topic_name| %>
      <div id="<%= topic_name %>" class="sticker empty-sticker sticker_list_margin"><%= topic_name %></div>
    <% end %>
  </div>
  <form action="" method="POST" class="topics-form">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <% @user.topics.each do |topic| %>
      <input id="<%= topic %>" class="topicInput" name="<%= topic %>" type="hidden" value="true">
    <% end %>
    <input id="submit" type="submit" value="Go!">
  </form>
</div>
<%= javascript_pack_tag 'selectTopics' %>
</div>
