<div id="menu-navbar">

  <div class="d-flex flex-row justify-content-between">

    <div class="<%= 'active' if current_page?(articles_path) %>">
      <%= link_to articles_path, class: "link" do %>
        <div class= "navbar-link">
          <span class="iconify" data-icon="icons8:home" data-inline="false"></span>
        </div>
      <% end %>
    </div>

    <div class="<%= 'active' if current_page?(words_path) %>">
      <%= link_to words_path do %>
        <div class= "navbar-link" >
          <span class="iconify" data-icon="bi:list-ul" data-inline="false"></span>
        </div>
      <% end %>
    </div>

    <div class="<%= 'active' if current_page?(lists_path) %>">
      <%= link_to lists_path do %>
        <div class= "navbar-link">
          <span class="iconify" data-icon="mdi:cards-outline" data-inline="false"></span>
        </div>
      <% end %>
    </div>

    <div class="<%= 'active' if current_page?(lists_path) %>">
      <%= link_to "#" do %>
        <div class= "navbar-link">
            <span class="iconify" data-icon="cil:user" data-inline="false"></span>
        </div>
      <% end %>
    </div>

  </div>

</div>
