<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style = "background-color: #311D3F">

  <ul class="nav">
    <li class="<%= 'active' if current_page?(articles_path) %>">
      <%= link_to articles_path, class: "link" do %>
        <div class= "navbar-link p-3">
          <i class="fas fa-home"></i>
        </div>
      <% end %>
    </li>

    <li class="<%= 'active' if current_page?(words_path) %>">
      <%= link_to words_path do %>
        <div class= "navbar-link p-3" >
          <i class="fas fa-list"></i>
        </div>
      <% end %>
    </li>

    <li class="<%= 'active' if current_page?(flashcards_path) %>">
      <%= link_to flashcards_path do %>
        <div class= "navbar-link p-3">
          <i class="far fa-copy"></i>
        </div>
      <% end %>
    </li>

    <%= link_to "#" do %>
      <div class= "navbar-link p-3">
        <i class="far fa-user"></i>
      </div>
    <% end %>
</ul>

</div>
