
<div class="full-screen-card-container">
  <div class='full-screen-card medium-purple-bg rounded-element d-flex flex-column justify-content-between align-items-center' style='padding: 30px'>
    <div>
      <h1 class='resume-title m-0'>Commande n°<%= @order.id %> </h1>
      <div class='d-flex flex-row justify-content-center align-items-center'>
        <div class='orders-details mr-3'><%= @order.created_at.to_date.strftime("%d/%m/%Y") %></div>
      </div>
    </div>
    <div id='height-300' class="resume-card d-flex flex-column justify-content-between">
      <div class='d-flex justify-content-center mb-2'>
        <% if @state == 'CONFIRMÉ' %>
          <div class='state-sticker' id='confirme'><%= @state %>  <i class="far fa-check-circle"></i></div>
        <% else %>
          <div class='state-sticker' id='attente'>EN ATTENTE  <i class="far fa-clock"></i></div>
        <% end %>
      </div>
      <h3>Abonnement <strong><%= @order.subscription.name.upcase %></strong> </br>sans engagement</h3>
      <div class='w-100 d-flex justify-content-center align-items-center'>
        <h1><%= humanized_money @order.amount %>€<span> / mois</span></h1>
      </div>
      <div>
        <h4>Détails tarifaires</h4>
        <div class='resume-line'></div>
        <div class='total-details d-flex flex-rox justify-content-between align-items-center'>
          <h2>Total payé</h2>
          <h2><%= humanized_money @order.amount %>€</h2>
        </div>
      </div>
    </div>
    <%= link_to articles_path, class: 'w-100' do  %>
      <div id="cest-parti-btn" class='premium-btn mt-2'>C'est parti !</div>
    <% end %>
  </div>
