<div class="container pt-3 pl-3">
  <div class="full-screen-card rounded-element" style = "background-color: #88304E">
    <div class= "row">
      <h1 class= "pl-3 m-3">Lexique</h1>
      <h4 class= "p-3 m-3"> <%= @words.count %> mots</h4>

    </div>
    <div class="search search-container">
      <%= simple_form_for words_path, method: :get,
        wrapper: :inline_form,
        html: { class: "form-inline" },
        wrapper_mappings: {
        boolean: :inline_boolean
        } do |f| %>
        <%= text_field_tag :query,
          params[:query],
          placeholder: "Recherche"
        %>
      <% end %>

    </div>

    <div class= "words" style= "background-color: white">
        <% @words.each do |word| %>
          <div class="row all-words">
            <p class= "word"><%= word.word %></p>  <p class= "translation"><%= word.translation %></p>
          </div>
        <% end %>
    </div>

  </div>

</div>


<%= javascript_pack_tag 'search' %>


