

<!DOCTYPE html>
<html>
  <head>
    <title>Younguage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>


  <body <% unless action_name == "show" && controller_name == "articles" %> id="body" <% end %>>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <% unless action_name == "show" && controller_name == "articles" %>
      <%= render 'shared/navbar' %>
    <% end %>
  </body>
</html>
